body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
}

.middle-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
}
.right-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.leftp{
    font-size: 20px;
}
.search-bar{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    
    border-radius: 25px;
    width: 400px;
    outline: none;
    transition: width 0.4s ease-in-out, border-color 0.3s;
    text-align: center;
    min-width: 100px;
}
/*.search-bar:focus{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    border-color: #007BFF;
}*/
.home-button{
    height: 25px;
    margin-right: 15px;
    border-width: 0px;
    cursor: pointer;
}
.about-button{
    height: 25px;
    margin-right: 15px;
    border-width: 0px;
    cursor: pointer;
}
.contact-button{
    height: 25px;
    border-width: 0px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
